@use "../partials/colors" as color;

#desktop {
  display: flex;
  .icon {
    padding: 50px;
    font-family: sans-serif;
    text-align: center;
    p {
      margin: 0px;
      color: color.$menu-white;
    }
    img {
      //   border: 1px solid color.$shadow;
      padding: 10px;
    }
  }
}

#lyricIcon {
  border: none;
}

#lyricIcon--clicked {
  border: 1px grey solid;
}
