@use "../partials/colors" as color;

#desktop {
  display: flex;
  .icon {
    padding: 10px;
    font-family: "windows regular";
    text-align: center;
    border: none;

    p {
      margin: 0px;
      color: color.$menu-white;
    }
    img {
      //   border: 1px solid color.$shadow;
      padding: 10px;
    }
  }
  .icon--clicked {
    img {
      border: 1px grey solid;
      padding: 10px;
    }
  }
}
