@use "../partials/colors" as color;
@use "../partials/fonts";

.menu {
  //   height: 800px;
  width: 300px;
  background-color: color.$windows-grey;
  border-left: 3px color.$trim-white solid;
  border-top: 3px color.$trim-white solid;
  box-shadow: color.$shadow 3px 3px;
  z-index: 4;
  position: absolute;
  bottom: 38px;
  left: 4px;
  display: none;

  #gradient {
    writing-mode: vertical-lr;
    transform: scale(-1);
    color: color.$menu-white;
    font-family: "windows regular";
    font-size: 1.5em;
    font-weight: 500;
    background: linear-gradient(color.$gradient-cyan, color.$gradient-blue);
    padding: 8px;
  }

  #items-box {
    // border: 2px solid green;
    width: 400px;
    display: flex;
    flex-direction: column;
    padding-top: 5px;

    .menu-item {
      padding-left: 8px;
      padding-top: 2px;
      padding-bottom: 2px;
      padding-right: 8px;
      font-family: "windows regular";
      font-size: 0.9em;
      align-items: center;
      display: flex;
      justify-content: space-between;
      font-weight: 500;

      &:hover {
        background-color: color.$shadow;
      }
      .item-group {
        display: flex;
        // border: 2px solid green;
        gap: 8px;
        margin: none;
      }
    }
  }
}

.menu--open {
  display: flex;
}

#programs-menu {
  width: 200px;
  background-color: color.$windows-grey;
  border-left: 3px color.$trim-white solid;
  border-top: 3px color.$trim-white solid;
  box-shadow: color.$shadow 3px 3px;
  z-index: 5;
  position: absolute;
  bottom: 320px;
  left: 290px;
  display: none;
  align-items: center;
  padding-top: 5px;
  img {
    width: 35px;
    height: 35px;
  }
}

#programs-menu--open {
  display: flex;
}
