@use "../partials/colors" as color;

#taskbar {
  width: 100vw;
  height: 40px;
  padding-top: 1.5px;
  background-color: color.$windows-grey;
  position: absolute;
  bottom: 0px;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  box-shadow: inset color.$trim-white 0px 3px;
}

#clock {
  border-bottom: 2px color.$trim-white solid;
  border-right: 2px color.$trim-white solid;
  font-family: sans-serif;

  box-shadow: inset color.$shadow 2px 2px;
  margin: 5px;
  padding: 5px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 1em;
  font-weight: 500;
}

#startBtn {
  border-left: 2px color.$trim-white solid;
  border-top: 2px color.$trim-white solid;
  border-bottom: none;
  border-right: none;
  box-shadow: color.$shadow 2px 2px;
  margin: 5px;
  padding: 5px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 1em;
  font-weight: 700;
  font-family: sans-serif;
  gap: 2px;
  background-color: color.$windows-grey;
  #logo {
    width: 25px;
  }
  &:hover {
    border-bottom: 2px color.$trim-white solid;
    border-right: 2px color.$trim-white solid;
    box-shadow: inset color.$shadow 2px 2px;
    border-top: none;
    border-left: none;
  }
}
